<app-navigation-bar></app-navigation-bar>

<div class="container-fluid outer onboardForm">
    <h2>STUDENT ONBOARD FORM</h2>
    <form #studentOnboardForm="ngForm">
        <!-- For value in JSON format that will send to back-end when the form will be submitted -->
        <input #studentOnboardFormData hidden type="text"/>
       
        <div class="form-group">
            <label>Name</label>
            <input ngModel   type="text" class="form-control" id="name" name="name" disabled placeholder="{{student.name}}"> 
        </div>
  
        <div class="form-group">
            <label for="category">Category</label>
            <select class="custom-select" id="category" name="category" disabled >
                <option>{{student.category}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="dob">DOB</label>
            <input ngModel type="text" class="form-control" id="dob" name="dob" disabled placeholder="{{student.dob}}">
        </div>
        <div class="form-group">

            <label for="fatherName">Father's Name</label>
            <input ngModel type="text" class="form-control" id="fatherName" name="fatherName" disabled placeholder="{{student.fatherName}}">
        </div>
        <div class="form-group">
            <label for="motherName">Mother's Name</label>
            <input ngModel type="text" class="form-control" id="motherName" name="motherName" disabled placeholder="{{student.motherName}}">
        </div>
        <div class="form-group">
            <label for="lastScore">Last Score</label>
            <input ngModel type="text" class="form-control" id="lastScore" name="lastScore" disabled placeholder="{{student.lastScore}}">
        </div>

        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input ngModel type="text" class="form-control" id="courseName" name="courseName" disabled placeholder="{{student.courseName}}">
        </div>


        <div id="formCheckboxes" ngModelGroup ="documents">
            <label for="documents">Please check the list of Documents uploaded: </label>
            <div>
                <input ngModel type="checkbox" id="domicile" name="domicile" unchecked >
                <label for="domicile" >Domicile Certificate</label>
            </div>
            <div>
                <input ngModel type="checkbox" id="birthCert" name="birthCert" unchecked>
                <label for="birthCert">Birth Certificate</label>
            </div>
            <div>
                <input ngModel type="checkbox" id="marksheets" name="marksheets" unchecked>
                <label for="marksheets">Previous Marksheets</label>
            </div>
            <div>
                    <input ngModel type="checkbox" id="policeClearance" name="policeClearance" unchecked>
                    <label for="marksheets">Police Clearance</label>
                </div>
            <div>
                <input ngModel type="checkbox" id="passport" name="passport" unchecked>
                <label for="passport">Passport</label>
            </div>
            <div>
                <input ngModel type="checkbox" id="declaration" name="declaration" unchecked>
                <label for="declaration">Signed Declaration</label>
            </div>
        </div>

        <!-- <button type="submit" (click)="onBoardSubmit(studentOnboardFormData.value)" class="btn btn-primary" disabled>Onboard</button>  -->
        <button type="submit"  class="btn btn-primary" disabled>Onboard</button>
       
        <br> 
        <button type="submit" (click)="goToStudentListPage()" class="btn btn-primary" >Go Back</button>

    </form>

</div>