<app-navigation-bar></app-navigation-bar>

<div class="jumbotron text-center middleCntnt">
  <img src="http://www.pdc.arizona.edu/images/ArbolDeLaVida-Slider.jpg" />
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>BASIC</h3>
      <p>"UNIVERSITY STUDENT PORTAL” is a web application developed using Angular. </p>
      <p>This portal is used for submitting the new
        sesion on arrival form by both domestic and international students of the university..</p>
    </div>
    <div class="col-sm-4">
      <h3>FEATURES</h3>
      <p>The user has to submit all the basic student details along with details for forms submitted by the students.
      </p>
      <p>The admin user has the right to see the list of students who have submitted the onboard form.</p>
    </div>
    <div class="col-sm-4">
      <h3>ADVANCEMENTS</h3>
      <p>The admin can filter the list of students on the basis of category and name of the student.</p>
      <p> Various principles of Angular have been used to construct this web application. Hope you have a good user
        experience!</p>
    </div>
  </div>
</div>
<!-- 
<app-page-footer></app-page-footer> -->